@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

// Set your brand colors
$midnight: #03045E;
$gold: #DCBF85;
$dark-slate-gray: #1A5E63;
$logo-blue: #90B9C8;
$old-rose: #C97B84;
$brown: #757763;
$white: white;

// Update Bulma's global variables
$family-sans-serif: "Crimson Text", serif;
$family-secondary: "Helvetica", sans-serif;
$grey-dark: $brown;
$grey-light: $white;
$primary: $midnight;
$link: $gold;
$danger: $dark-slate-gray;
$info: $logo-blue;
$warning: $old-rose;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $white;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$footer-background-color: $primary;

$section-padding-medium: 1rem;
.section {
    padding: $section-padding-medium;
}

.footer {
    background-color: $footer-background-color;
}


// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/elements/notification.sass";
@import "../node_modules/bulma/sass/helpers/_all.sass";
@import "../node_modules/bulma/sass/layout/footer.sass";
@import "../node_modules/bulma/sass/components/menu.sass";